@font-face {
  font-family: 'Tisa Sans Pro';
  src: url(../font/TisaSansPro_B.woff);
  font-weight: 900; }
@font-face {
  font-family: 'Tisa Sans Pro';
  src: url(../font/TisaSansPro_EB.woff);
  font-weight: 700; }
@font-face {
  font-family: 'Tisa Sans Pro';
  src: url(../font/TisaSansPro_M.woff);
  font-weight: 600; }
@font-face {
  font-family: 'Tisa Sans Pro';
  src: url(../font/TisaSansPro_R.woff);
  font-weight: 500; }
@font-face {
  font-family: 'Tisa Sans Pro';
  src: url(../font/TisaSansPro_L.woff);
  font-weight: 400; }
/* Font Family */
/* Color Pallete */
/* Font Sizes */
/* Spacing */
/* Breakpoint */
/* Desktop First */
/*----------------------------------------------
	Header
---------------------------------------------*/
.p_header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px 0;
  min-height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 40px; }
  .p_header__logo {
    width: 170px; }
    .p_header__logo img {
      width: 100%; }
  .p_header__side {
    flex: 1;
    display: flex;
    justify-content: space-between; }

.p_nav {
  display: flex;
  align-items: center;
  font-size: 17px; }
  .p_nav ul {
    display: flex;
    gap: 0 15px; }
    .p_nav ul li a {
      letter-spacing: -0.44px; }

.p_cart {
  width: 35px;
  height: 35px; }
  .p_cart a {
    width: 100%;
    height: 100%;
    background: url(../img/cart.svg) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    font-size: 17px; }

/*# sourceMappingURL=common_header.css.map */
