/*----------------------------------------------
	Foundation
---------------------------------------------*/
@font-face {
  font-family: 'Tisa Sans Pro';
  src: url(../font/TisaSansPro_B.woff);
  font-weight: 900; }
@font-face {
  font-family: 'Tisa Sans Pro';
  src: url(../font/TisaSansPro_EB.woff);
  font-weight: 700; }
@font-face {
  font-family: 'Tisa Sans Pro';
  src: url(../font/TisaSansPro_M.woff);
  font-weight: 600; }
@font-face {
  font-family: 'Tisa Sans Pro';
  src: url(../font/TisaSansPro_R.woff);
  font-weight: 500; }
@font-face {
  font-family: 'Tisa Sans Pro';
  src: url(../font/TisaSansPro_L.woff);
  font-weight: 400; }
/* Font Family */
/* Color Pallete */
/* Font Sizes */
/* Spacing */
/* Breakpoint */
/* Desktop First */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  height: 100%; }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  height: 100%; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
  margin: 0; }

*:focus {
  outline: none; }

/*----------------------------------------------
	html
---------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%; }

ul {
  list-style: none; }

/*----------------------------------------------
	body
---------------------------------------------*/
body {
  font-family: "Tisa Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  text-rendering: optimizeLegibility;
  color: #443636; }

/*----------------------------------------------
	a
---------------------------------------------*/
a {
  text-decoration: none;
  color: #443636; }

a:hover,
a:active,
a:focus {
  text-decoration: none;
  opacity: 0.8; }

/*----------------------------------------------
	table
---------------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*----------------------------------------------
	section
---------------------------------------------*/
section {
  padding: 100px 0; }

@media screen and (max-width: 767px) {
  section {
    padding: 50px 20px; } }
/*----------------------------------------------
	Frame
---------------------------------------------*/
/*----------------------------------------------
	Frame Site
---------------------------------------------*/
.f_page {
  position: relative; }

/*----------------------------------------------
	Frame Sections
---------------------------------------------*/
.f_section6 {
  padding: 200px 0;
  background: #fcf4ef;
  background: linear-gradient(180deg, #fcf4ef 0%, white 100%); }

.f_section7 {
  background: #FAEAD8; }

.f_section8 {
  background: #fcf4ef;
  background: linear-gradient(180deg, #fcf4ef 0%, white 100%); }

.f_section9 {
  background: #edd3c1;
  padding: 40px 0; }

.f_container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  position: relative; }

.f_section__card .c_ttl {
  text-align: left; }
.f_section__card .f_container {
  padding: 0 50px; }
.f_section__card .c_content {
  text-align: left;
  max-width: 100%; }
.f_section__card .c_btn {
  margin-left: 0;
  margin-top: 40px; }

/*----------------------------------------------
	Component
---------------------------------------------*/
/*----------------------------------------------
	.c_banner
---------------------------------------------*/
.c_banner {
  padding: 0;
  display: flex;
  justify-content: left;
  align-items: center; }
  .c_banner img {
    display: block;
    width: 100%; }
  .c_banner__wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; }
  .c_banner__content {
    max-width: 455px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    padding-bottom: 135px; }
    .c_banner__content p {
      font-size: 21px;
      color: #998C7A; }

/*----------------------------------------------
	.c_btn
---------------------------------------------*/
.c_btn {
  margin: 0 auto;
  width: 300px;
  -webkit-box-shadow: 0px 22px 21px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 22px 21px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 22px 21px 0px rgba(0, 0, 0, 0.16); }
  .c_btn a {
    display: block;
    width: 100%;
    height: 56px;
    color: #FFF;
    background: #F6914E;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 0.075rem; }
  .c_btn.is_green a {
    background: #3c562c; }
  .c_btn.is_banner {
    width: 255px;
    margin-left: 10px; }
    .c_btn.is_banner a {
      letter-spacing: -0.04px; }

/*----------------------------------------------
	.c_btn__back
---------------------------------------------*/
.c_btn__back {
  border-radius: 5px;
  width: 182px;
  -webkit-box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, 0.16); }
  .c_btn__back a {
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 43px;
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05rem;
    color: #000; }

/*----------------------------------------------
	.c_btn__shop
---------------------------------------------*/
.c_btn__shop {
  color: #443636;
  font-size: 40px;
  font-weight: 700; }
  .c_btn__shop a img {
    display: inline-block;
    vertical-align: middle;
    width: 65px;
    margin-left: 10px; }

/*----------------------------------------------
	.c_ttl
---------------------------------------------*/
.c_ttl {
  color: #443636;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center; }
  .c_ttl small {
    font-size: 21px;
    color: #998C7A;
    display: block;
    font-weight: 500; }
  .c_ttl.is_large {
    font-size: 49px;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -0.98px;
    margin-bottom: 0;
    text-align: left; }

/*----------------------------------------------
	.c_content
---------------------------------------------*/
.c_content {
  color: #A7836D;
  font-weight: 400;
  text-align: center;
  max-width: 409px;
  width: 100%;
  margin: 0 auto; }

/*----------------------------------------------
	.c_card
---------------------------------------------*/
.c_card {
  max-width: 465px;
  width: 100%;
  margin: 50px 0; }
  .c_card.is_medium {
    max-width: 409px; }
  .c_card.is_right {
    margin: 0 0 0 auto; }

/*----------------------------------------------
	Project
---------------------------------------------*/
/*----------------------------------------------
	.p_benefits
---------------------------------------------*/
.p_benefits {
  background: #FCF4EF; }
  .p_benefits__thumb {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    gap: 0 50px;
    margin-top: 50px;
    margin-bottom: 300px; }
  .p_benefits__box {
    width: 330px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 3px 20px 0px rgba(37, 36, 36, 0.1);
    -moz-box-shadow: 0px 3px 20px 0px rgba(37, 36, 36, 0.1);
    box-shadow: 0px 3px 20px 0px rgba(37, 36, 36, 0.1);
    position: relative; }
    .p_benefits__box img {
      width: 100%; }
  .p_benefits__ttl {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    background: #FFF;
    font-size: 21px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px; }

/*----------------------------------------------
	.p_about
---------------------------------------------*/
.p_about {
  background: #FFF; }
  .p_about h2 img {
    display: block;
    margin: 0 auto 12px; }
  .p_about__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0; }
  .p_about__column {
    display: flex;
    flex-direction: column;
    gap: 100px 0; }
  .p_about__box {
    width: 300px;
    text-align: center;
    color: #A7836D; }
    .p_about__box h3 {
      font-weight: 600;
      font-size: 17px;
      letter-spacing: 0.41px;
      color: #443636;
      margin: 15px 0;
      padding-bottom: 10px;
      position: relative; }
      .p_about__box h3::after {
        position: absolute;
        content: '';
        width: 200px;
        height: 2px;
        background: #F6914E;
        bottom: 0;
        left: calc(50% - 100px); }
  .p_about__wrap {
    width: 400px;
    height: 400px;
    position: relative; }
    .p_about__wrap img {
      width: 100%;
      position: absolute;
      top: 0; }

/*----------------------------------------------
	.p_handoil
---------------------------------------------*/
.p_handoil {
  background: url(../img/hand-oil-image.png) no-repeat right 20% top #FBF4EE;
  background-size: auto 100%; }
  .p_handoil__box {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    padding-top: 20px; }
    .p_handoil__box li {
      width: 100%;
      min-height: 83px;
      border-radius: 41px;
      background: #FFF;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 30px; }
    .p_handoil__box h3 {
      font-size: 21px;
      font-weight: 500; }
    .p_handoil__box p {
      color: #7B5F4E;
      letter-spacing: -0.35px; }

/*----------------------------------------------
	.p_gummies
---------------------------------------------*/
.p_gummies {
  background: #FAEAD8;
  position: relative;
  overflow: hidden;
  padding: 200px 0; }
  .p_gummies__bg1 {
    position: absolute;
    top: 0;
    left: -20px; }
  .p_gummies__bg2 {
    position: absolute;
    bottom: 0;
    right: 0; }
  .p_gummies__img {
    float: left;
    margin-left: -50px; }

/*----------------------------------------------
	.p_product
---------------------------------------------*/
.p_product {
  margin-left: -50px;
  width: calc(100% + 100px); }
  .p_product__main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 66px; }
  .p_product__img--large {
    margin-top: 100px; }
  .p_product__detail {
    max-width: 395px;
    border: solid 1px rgba(68, 54, 54, 0.18);
    border-radius: 21px;
    padding: 45px 35px; }
    .p_product__detail h3 {
      font-size: 21px;
      font-weight: 500;
      margin-bottom: 10px; }
    .p_product__detail .is_size {
      font-size: 15px;
      font-weight: 900;
      letter-spacing: -0.29px; }
    .p_product__detail p {
      font-weight: 400;
      color: #A7836D;
      margin: 15px 0; }
    .p_product__detail .is_price {
      font-weight: 900;
      letter-spacing: -0.35px; }
  .p_product__btn {
    width: 116px;
    height: 43px;
    margin-top: 35px;
    border: 1px solid #443636;
    border-radius: 5px;
    letter-spacing: 0.05rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .p_product__list {
    margin: 100px 0 60px; }
    .p_product__list ul {
      height: 189px;
      display: flex;
      align-items: flex-end;
      gap: 0 12px; }
      .p_product__list ul li {
        width: 167px; }
        .p_product__list ul li a:hover .p_product__ttl {
          color: #443636; }
  .p_product__img {
    width: 100%;
    height: 167px;
    background: #FFF;
    display: flex;
    align-items: center;
    border: 1px solid #E8E1DC; }
    .p_product__img img {
      margin: 15px auto 0;
      display: block;
      clip-path: inset(0px 0px 15px 0px); }
    .p_product__img:hover {
      background: rgba(255, 255, 255, 0.65);
      height: 189px; }
  .p_product__ttl {
    color: #A7836D;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding: 20px; }

/*----------------------------------------------
	.p_company
---------------------------------------------*/
.p_company {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .p_company__column {
    display: flex;
    flex-direction: column;
    gap: 120px 0; }
  .p_company__box {
    position: relative;
    width: 325px;
    text-align: center;
    color: #A7836D;
    padding-top: 50px; }
    .p_company__box::before {
      position: absolute;
      content: '';
      width: 35px;
      height: 24px;
      background: url(../img/quotations.png) no-repeat;
      background-size: 100% 100%;
      top: 0;
      left: calc(50% - 18px); }
    .p_company__box img {
      display: block;
      margin: 20px auto 0; }
    .p_company__box p {
      font-weight: 500;
      color: #443636;
      font-size: 21px; }
  .p_company__wrap {
    width: 400px; }
    .p_company__wrap img {
      width: 100%; }

/*----------------------------------------------
	.p_testimonial
---------------------------------------------*/
.p_testimonial {
  margin-left: -60px;
  width: calc(100% + 120px);
  overflow: hidden;
  overflow-x: scroll;
  padding: 10px; }
  .p_testimonial__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 25px;
    padding-bottom: 20px;
    width: 2520px; }
  .p_testimonial__box {
    width: 396px;
    background: rgba(238, 230, 230, 0.51);
    border-radius: 29px;
    position: relative;
    padding: 80px 40px 30px; }
    .p_testimonial__box::before {
      position: absolute;
      content: '';
      width: 50px;
      height: 34px;
      background: url(../img/quotations.png) no-repeat;
      background-size: 100% 100%;
      top: -3px;
      left: -5px; }
    .p_testimonial__box::after {
      position: absolute;
      content: '';
      width: 50px;
      height: 34px;
      background: url(../img/quotations.png) no-repeat;
      background-size: 100% 100%;
      bottom: -3px;
      right: -5px;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1); }
    .p_testimonial__box img {
      display: block;
      margin: 0 auto 35px; }
    .p_testimonial__box h3 {
      font-weight: 500;
      font-size: 21px;
      color: #3c562c;
      text-align: center; }
    .p_testimonial__box p {
      color: #A7836D;
      letter-spacing: -0.35px;
      text-align: center;
      margin: 15px 0; }
  .p_testimonial__name {
    margin-top: 40px;
    text-align: center;
    font-weight: 600;
    color: #3c562c;
    font-size: 15px;
    letter-spacing: -0.29px; }
    .p_testimonial__name img {
      width: 65px;
      margin: 0 auto 30px;
      display: block; }

/*# sourceMappingURL=style.css.map */
