@charset "utf-8";

@import "foundation/variables";

/*----------------------------------------------
	Header
---------------------------------------------*/
.p_header {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 40px 0;
	min-height: 95px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0 40px;
	&__logo {
		width: 170px;
		img { width: 100%; }
	}
	&__side {
		flex: 1;
		display: flex;
		justify-content: space-between;
	}
}
.p_nav {
	display: flex;
	align-items: center;
	font-size: $fs-area-sm;
	ul {
		display: flex;
		gap: 0 15px;
		li a {
			letter-spacing: -0.44px;
		}
	}
}
.p_cart {
	width: 35px;
	height: 35px;
	a {
		width: 100%;
		height: 100%;
		background: url(../img/cart.svg) no-repeat;
		background-size: 100% 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 6px;
		font-size: $fs-area-sm;
	}
}
