/*----------------------------------------------
	.c_banner
---------------------------------------------*/
.c_banner {
	padding: 0;
	display: flex;
	justify-content: left;
	align-items: center;
	img {
		display: block;
		width: 100%;
	}
	&__wrap {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
	}
	&__content {
		max-width: 455px;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 30px 0;
		padding-bottom: 135px;
		p {
			font-size: $fs-area-lg;
			color: $color-lightgray;
		}
	}
}