/*----------------------------------------------
	.c_btn
---------------------------------------------*/
.c_btn {
	margin: 0 auto;
	width: 300px;
	-webkit-box-shadow: 0px 22px 21px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 22px 21px 0px rgba(0,0,0,0.16);
	box-shadow: 0px 22px 21px 0px rgba(0,0,0,0.16);
	a {
		display: block;
		width: 100%;
		height: 56px;
		color: $color-white;
		background: $color-primary;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: center;		
		font-size: $fs-area-xs;
		letter-spacing: $space-m;
	}
	&.is_green {		
		a {
			background: $color-green;			
		}
	}
	&.is_banner {
		width: 255px;
		margin-left: 10px;
		a {
			letter-spacing: -0.04px;
		}
	}
}


/*----------------------------------------------
	.c_btn__back
---------------------------------------------*/
.c_btn__back {
	border-radius: 5px;
	width: 182px;
	-webkit-box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.16);
	box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.16);
	a {
		border-radius: 5px;
		display: block;
		width: 100%;
		height: 43px;
		font-size: $fs-area-xxs;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		letter-spacing: $space-s;
		color: #000;
	}
}


/*----------------------------------------------
	.c_btn__shop
---------------------------------------------*/
.c_btn__shop {
	color: $color-secondary;
	font-size: $fs-area-xl;
	font-weight: 700;
	a {
		img {
			display: inline-block;
			vertical-align: middle;
			width: 65px;
			margin-left: 10px;
		}
	}
}