/*----------------------------------------------
	.c_card
---------------------------------------------*/
.c_card {
	max-width: 465px;
	width: 100%;
	margin: 50px 0;
	&.is_medium {
		max-width: 409px;
	}
	&.is_right {
		margin: 0 0 0 auto;
	}
}