/*----------------------------------------------
	.c_content
---------------------------------------------*/
.c_content {
	color: $color-brown;
	font-weight: 400;
	text-align: center;
	max-width: 409px;
	width: 100%;
	margin: 0 auto;
}