/*----------------------------------------------
	.p_benefits
---------------------------------------------*/
.p_benefits {
	background: $color-light;
	&__thumb {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 0 50px;
		gap: 0 50px;
		margin-top: 50px;
		margin-bottom: 300px;
	}
	&__box {
		width: 330px;
		border-radius: 30px;
		-webkit-box-shadow: 0px 3px 20px 0px rgba(37,36,36,0.1);
		-moz-box-shadow: 0px 3px 20px 0px rgba(37,36,36,0.1);
		box-shadow: 0px 3px 20px 0px rgba(37,36,36,0.1);
		position: relative;
		img {
			width: 100%;
		}
	}
	&__ttl {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 90px;
		background: $color-white;
		font-size: $fs-area-md;
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 0 20px;
	}
}