/*----------------------------------------------
	.p_handoil
---------------------------------------------*/
.p_handoil {
	background: url(../img/hand-oil-image.png) no-repeat right 20% top #FBF4EE;
	background-size: auto 100%;
	&__box {
		display: flex;
		flex-direction: column;
		gap: 20px 0;
		padding-top: 20px;
		li {
			width: 100%;
			min-height: 83px;
			border-radius: 41px;
			background: $color-white;
			display: flex;
			justify-content: center;
			align-items: center;
			// padding: 0 30px 0 30px;
			gap: 0 30px;
		}
		h3 {
			font-size: $fs-area-md;
			font-weight: 500;
		}
		p {
			color: #7B5F4E;
			letter-spacing: -0.35px;
		}
	}
}