/*----------------------------------------------
	.p_product
---------------------------------------------*/
.p_product {
	margin-left: -50px;
  width: calc(100% + 100px);
	&__main {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0 66px;
	}
	&__img--large {
		margin-top: 100px;
	}
	&__detail {
		max-width: 395px;
		border: solid 1px rgba(68,54,54,0.18);
		border-radius: 21px;
		padding: 45px 35px;
		h3 {
			font-size: $fs-area-md;
			font-weight: 500;
			margin-bottom: 10px;
		}
		.is_size {
			font-size: $fs-area-xxs;
			font-weight: 900;
			letter-spacing: -0.29px;
		}
		p {
			font-weight: 400;
			color: $color-brown;
			margin: 15px 0;
		}
		.is_price {
			font-weight: 900;
			letter-spacing: -0.35px;
		}
	}
	&__btn {
		width: 116px;
		height: 43px;
		margin-top: 35px;
		border: 1px solid $color-secondary;
		border-radius: 5px;
		letter-spacing: $space-s;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__list {
		margin: 100px 0 60px;
		ul {
			height: 189px;
			display: flex;
			align-items: flex-end;
			gap: 0 12px;
			li {
				width: 167px;
				a:hover {
					.p_product__ttl {
						color: $color-secondary;
					}
				}
			}
		}
	}
	&__img {
		width: 100%;
		height: 167px;
		background: $color-white;
		display: flex;
		align-items: center;
		border: 1px solid #E8E1DC;
		img {
			margin: 15px auto 0;
			display: block;
			clip-path: inset(0px 0px 15px 0px);
		}
		&:hover {
			background: rgba($color-white, 0.65);
			height: 189px;
		}
	}
	&__ttl {
		color: $color-brown;
		font-size: $fs-area-xxs;
		font-weight: 500;
		text-align: center;
		padding: 20px;
	}
}